/* CSS Document */
body {
    font: 14px helvetica, arial;
    color: #CECECE;
    text-align: center;
    padding: 35px;
    background-color: #46484C;
}

form, p, span {
    margin: 0;
    padding: 0;
}

input {
    font: 12px helvetica, arial;
}

#wrapper {
    margin: 0 auto;
    background: #2C2C2C;
    width: 460px;
    border: 0;
    box-shadow: 0px 2px 8px rgba(47, 47, 47, 0.8);
    -moz-box-shadow: 0px 2px 8px rgba(47, 47, 47, 0.8);
    -webkit-box-shadow: 0px 2px 8px rgba(47, 47, 47, 0.8);
}

#chatbox {
    text-align: left;
    padding: 30px;
    background: #2C2C2C;
    height: 270px;
    border: 0;
    overflow: auto;
}

#chat-input {
    width: 420px;
    height: 26px;
    border: 0;
    outline: none;
    padding: 10px 20px;
    color: #2C2C2C;
    font-weight: 600;
    background-color: #CECECE;
}

.msg-ln {
    margin: 0 0 6px 0;
}

.msg-chat {
    font-weight: 500;
}

.msg-time {
    float: right;
    color: #818181;
    font-weight: 100;
}